<div class="alert alert-{{style}} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{{createdAt}}：</strong> {{body}}
</div>
