<div class="col-md-offset-1 col-md-10">
    <h2>{{t "reading.note.index"}}</h2>
    <hr/>
    {{#each readingNotes.items as |n|}}
        <blockquote>
            <p>{{n.body}}</p>
            <footer>{{n.title}} <cite>{{moment-to-now n.updatedAt}}</cite></footer>
        </blockquote>
    {{/each}}
</div>
