<div class="col-md-offset-1 col-md-10">
    <h2>{{title}}</h2>
    <hr/>
    {{#each readingNotes.items as |n|}}
        <blockquote>
            <p>{{n.body}}</p>
            <footer>{{n.title}} <cite title="Source Title">{{n.updatedAt}}</cite></footer>
        </blockquote>
    {{/each}}
</div>
